<h3 {{#if isPast}}
        style=opacity:.3
    {{/if}}>

    {{#if isPast}}
        Закончилось событие
    {{/if}}

    {{title}}

    {{#if isAttendee}}
        <span class="label label-primary">Иду</span>
    {{/if}}
</h3>
<div>{{author.name}} организует</div>
<div>{{#unless isPast}}{{relativeTime}}, {{/unless}}{{preciseTime}}</div>
<div>{{ attendees }}</div>
<div>Комментарии:</div>
{{#each comments}}
    <div class="comment">
        <div class="comment__author">{{author}}</div>
        <div class="comment__text">{{{lineBreaks text}}}</div>
    </div>
{{/each}}
<form class="form-inline">
  <div class="form-group">
    <textarea class="form-control input-sm js-comment-text" placeholder="Комментарий" cols="30" rows="1"></textarea>
  </div>
  <button type="submit" class="btn btn-sm btn-default js-comment-send">Оставить комментарий</button>
  <p class="text-danger js-comment-server-error"></p>
</form>
{{#unless cantAttend}}
    <br>
    <button class="btn btn-default js-attend">Присоединиться</button>
{{/unless}}
